{% extends "master.html.twig" %}

{% block title %}Internal Error{% endblock %}
{% block js %}
<style>
	#bikeImg{
		width: 400px;
		margin: 30px 0;
	}

	#mainBody{
		justify-content: center;
		text-align: center;
	}
</style>
{% endblock js %}

{% block content %}
	<div id="mainBody" class="container">
		<div>
			<img id="bikeImg" src="/img/crashed_bike.jpg"/>
		</div>
		<div>An internal error occured. To continue, click <a href="/"> here</a>.
		</div> 
	</div>

{% endblock content %}
