{% extends "master-admin.html.twig" %}

{% block title %}View Users
{% endblock %}
{% block content %}
	<div class="container">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Name</th>
					<th scope="col">Address</th>
					<th scope="col">Phone</th>
					<th scope="col">photo</th>
					<th scope="col"></th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				{% for usr in alluser %}
					<tr>
						<th scope="row">{{usr.userId}}</th>
						<td>{{usr.name}}</td>
						<td>{{usr.address}}</td>
						<td>{{usr.phone}}</td>
						<td> 
						<div class="entry-img frameUserPhoto">
                        <img src="/upload/{{usr.photo}}" alt="" width="100%" height="50px" class="img-responsive"/>
                        </div>
                        </td>
						<td>
							<div class="correctButton">
								<button value="{{usr.userId}}" name="btn_edit" id="btnLink" class="btn btn-warning btn-sm correctWidth"><a href="/adminuser{{usr.userId}}">Edit</a></button>
								<td>
									<div class="correctButton">
										<form action="/userdelete{{usr.userId}}">
											<input type="submit" value="Delete" name="btn_edit" id="btnLink" class="btn btn-danger btn-sm correctWidth" onclick="deleteFunc()"/>
										</form>
									</td>
								</td>
							</div>
						</td>
					</tr>
				{% endfor %}
  <script>
  function deleteFunc() {confirm("Are you sure you want to delete the user?");}

 </script>
			</tbody>
		</table>
	</div>

{% endblock content %}
