{% extends "master.html.twig" %}
{% block js %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

	<style>
		.fa-cog {
			color: Red;
			font-size: 35px;
		}
		.center {
			display: flex;
			flex-direction: column;
			margin: 20px 0;
			justify-content: center;
			align-items: center;
		}
	</style>
{% endblock %}
{% block content %}
	<script>
		$(document).ready(function () {
$("#exampleModal").modal('show');
});
$('#exampleModal').modal({backdrop: 'static', keyboard: false});
	</script>
	<div class="center">
		<button type="button" class="btn btn btn-secondary" onclick="javascript:window.history.back();">Back to Booking Page</button>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<div class="modal-body">

						<figure class="text-center">
							<blockquote class="blockquote">
								<i class="fas fa-exclamation-circle fa-cog"></i>
								<p>
									{{errorlist[0]}}
								</p>
							</blockquote>
						</figure>
					
					</div>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>


				<button type="button" class="btn btn btn-secondary" onclick="javascript:window.history.back();">Back to Booking Page</button>

			</div>
		</div>
	</div>
{% endblock content %}
