{% extends "master.html.twig" %}

{% block title %}Successful login{% endblock %}
{% block js %}
<style>
	#loginImage{
		width: 400px;
		margin: 30px 0;
	}

	#mainBody{
		justify-content: center;
		text-align: center;
	}
</style>
{% endblock js %}

{% block content %}
	<div id="mainBody" class="container">
    <div class="title_edit_user">Welcome <b>{{curruser.name}}</b></div>
        <div class="title_edit_user">You logged in successfully.</div>
		<div>
			<img id="loginImage" src="/img/login.jpg"/>
		</div>
	</div>

{% endblock content %}