<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

		{# Google fonts #}
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link
		href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">

		{# For edit account #}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.25/webcam.min.js"></script>
		{# End for edit account #}

		{#  date picker #}
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
		<link
		href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css"/>
		{#  date picker #}

		{% block js %}{% endblock %}
		<link href="styles.css" rel="stylesheet">
		<title>
			{% block title %}Default
			{% endblock %}
		</title>
	</head>
	<body>
		{# HEADER #}
		<div class="masterDiv" id="section0">
			<span id="headTitle">Green Wheel</span>
			<img id="bicycleLogo" src="img/bicycle_logo.png">
		</div>
		<div class="d-flex p-2 bd-highlight">
			<nav class="navbar-expand-sm navbar-light">
				<div class="container-fluid navDiv">
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav navbar-center">
							<li class="nav-item">
								<a class="nav-link" href="/admin">Admin</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/viewusers">Users</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/logs/everything.log">Logs</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/statistics">Statistics</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/login">Login</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/logout">Logout</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>

{# FLASH MESSAGE #}
        {% if flashMessage %}
        <div id="flashMessage">{{flashMessage}}</div>
        {% endif %} 
{# END FLASH MESSAGE #}

		{# BODY #}
		<div>
			{% block content %}{% endblock %}

			<div class="footerText">&copy; Copyright 2021 by Moha, Ali, Davood</div>
		</div>

		{# JQUERY #}
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
		<script src="/path/to/cdn/jquery.slim.min.js"></script>
		<script src="/path/to/timepicker.js"></script>
	</body>
</html>
